<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h3>Edit Students Details</h3>
    <form method="post" action="/students/<%= student.id %>?_method=PATCH">
            <textarea name="name"><%= student.name %></textarea>
            <textarea name="rollno"><%= student.rollno %></textarea>
            <textarea name="address"><%= student.address %></textarea>
            <button>submit</button>
    </form>
</body>
</html>