<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Students Details</title>
</head>
<body><h3>Add New Students Details</h3>
    <form method="post" action="/students">
     <input placeholder="Enter name" name="name" >
     <input placeholder="Enter rollno" name="rollno" >
     <textarea placeholder="Enter Address" name="address"></textarea>
     <button>Submit</button>
    </form>
</body>
</html>