<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show</title>
</head>
<body>
    <h3>Here is all Info of <%= student.name %></h3>
    <h3>id: <%= student.id %></h3>
    <h3>Rollno: <%= student.rollno %></h3>
    <h3>Address: <%= student.address %></h3>
</body>
</html>